In [1]:
import numpy as np 
import pandas as pd

In [3]:
s = pd.Series([1,2,3,4,np.NaN])

In [8]:
s.isnull()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [14]:
s.notnull()

0     True
1     True
2     True
3     True
4    False
dtype: bool

# Series
## 计算个数

In [21]:
s.value_counts(dropna=False)

NaN    1
4.0    1
3.0    1
2.0    1
1.0    1
dtype: int64

In [16]:
s.count()

4

# DataFrame

In [23]:
df  = pd.DataFrame({'python':np.random.randint(1,101, 7),
                    'Math':np.random.randint(1,101,7),
                    'Englis':np.random.randint(1,101,7),},
                    index=list('ABCDEFG'))
df

   python  Math  Englis
A      90    31      80
B      29     1      70
C      48    47      46
D      99    32      55
E      83    10      78
F      57    28       9
G      10   100      53

## 修改名称

### 修改列索引名称

In [24]:
df2 = df.copy()

In [25]:
df2.rename({'python':'PYTHON'},axis=1)

   PYTHON  Math  Englis
A      90    31      80
B      29     1      70
C      48    47      46
D      99    32      55
E      83    10      78
F      57    28       9
G      10   100      53

In [52]:
df3 = df2.set_index('python',drop=False)

## 修改索引名称

In [50]:
df3.head()

        python  Math  Englis
python
90          90    31      80
29          29     1      70
48          48    47      46
99          99    32      55
83          83    10      78

In [54]:
df3.index.name = 'index'

In [56]:
df3

       python  Math  Englis
index
90         90    31      80
29         29     1      70
48         48    47      46
99         99    32      55
83         83    10      78
57         57    28       9
10         10   100      53